@keyframes logoAnim {
    0% {transform: translate(0px, -50%) scale(0.1, 0.1);}    
    25% {transform: translate(0px, -50%) scale(1.9,1.9);}    
    50% {transform: translate(0px, -50%) scale(0.5,0.5);}    
    75% {transform: translate(0px, -50%) scale(1.3,1.3);}    
    100% {transform: translate(0px, -50%) scale(1,1);}    
}

@keyframes titleEmerge {
    0% {transform: scale(0.1, 0.1); color: dimgray;}    
    50% {transform: scale(1.3, 1.3);}
    100% {transform: scale(1, 1); color: var(--orange-peel);}   
}

.titleContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--white);
    background-image: url(../../assets/lightThemeBckg.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    transition: all 0.5s;
}

.titleProfile {
    width: 50%;
    max-width: 500px;
    aspect-ratio: 1;
    margin: 0px 25% 0px 25%;
    position: absolute;
    top: 50%;
    pointer-events: none;
    transform: translate(0px, -50%);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    outline: 3px solid var(--dark-orange);
    outline-offset: 5px;
}

.titleTitle {
    text-align: center;
}

.titleTitle p {
    font-family: Title;
    color: var(--orange-peel);
    font-size: 100px;
    padding: 0px;
    animation: titleEmerge 1s ease-in-out;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.titleMark {
    font-family: Title;
    color: var(--orange-peel);
    display: inline-block;
    transform: translate(10px, -70px);
}

.titleLoader {
    height: 5px;
    width: 100vw;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    left: 25vw;
    background-color: var(--dark-orange);
}

@media screen and (min-width: 1125px) {
    .titleContainer {
        background-size: contain;
    }
    .titleLogo {
        width: 20%;
        margin: 0px 40% 0px 40%;
    }
    .titleTitle p {
        font-size: 120px !important;
    }
}