html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.5s;
  }
  
  @font-face {
    font-family: Title;
    src: url(misc/Excluded-z8XrX.ttf);
  }
  
  :root {
    --white: #FFFFFF;
    --light-orange: #FFCB37;
    --dark-orange: #FCAC1F;
    --blue: #5E73DD;
    
    --black: #000000;
    --platinum: #E5E5E5;
    --pumpkin: #ff6d00ff;
    --heat-wave: #ff7900ff;
    --dark-orange: #ff8500ff;
    --yellow-orange: #ff9100ff;
    --orange-peel: #ff9e00ff;
    --russian-violet: #240046ff;
    --persian-indigo: #3c096cff;
    --purple: #5a189aff;
    --french-violet: #7b2cbfff;
    --dark-orchid: #9d4eddff;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, var(--blue), blueviolet);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(to bottom, var(--light-orange), var(--dark-orange));
  }
  
  .body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .dimmer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 18;
    transition: all 0.5s;
  }
  
  .backDrop {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: hsla(0, 0%, 7%, 0.952);
    /* background-image: url(./assets/lightThemeBckg.png); */
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .displayContent {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.4);
    background-image: url(./assets/lightThemeBckg.png);
  }

  .anim {
    width: 300px;
    height: 100vh;
    transform: skewX(20deg);
    background-color: blueviolet;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: backAnim infinite 1s;
  }

  .titleLarge {
    font-size: 400px;
    font-family: Title;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50% -50%);
    color: blueviolet;
  }

  @keyframes backAnim {
    0% {left: calc(100vw + 600px)}
    100% {left: -600px}
  }
  
  
  @media screen and (min-width: 1125px) {
    .displayContent {
      background-size: contain;
      width: 500px;
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translate(0px, -50%);
    }
  }